.mahiWelcome {
    height: 100vh;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgb(31, 22, 1);
    color: darkgoldenrod;
    margin-left: -10px;
    margin-top: -15px;
    flex: 50%;
    padding-right: 25px;
}
