.mahiWelcome {
    height: 40vw;
    margin-left: 0px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgb(31, 22, 1);
    color: darkgoldenrod;
    flex: 50%;
    padding-right: 25px;
    animation: welcome 10s infinite;
}

.home_container {
    top: 0;
    margin-left: 15px;
    height: 40vw;
    animation: welcome 10s infinite reverse;
}

@keyframes welcome {
    0% {
        background-color: rgb(31, 22, 1);
    }

    50% {
        background-color: rgb(17, 13, 0);
    }

    100% {
        background-color: rgb(31, 22, 1);
    }
}